@import "../../../../variables.scss";
.NavigationItem {
  margin: 10px 0;
  box-sizing: border-box;
  display: block;
  width: 100%;
  & a {
    color: $yellow;
    text-decoration: none;
    width: 100%;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    position: relative;
    transition-property: color;
    transition-duration: 0.3s;
    background: $yellow;
    padding: 8px 15px;
    color: $white;
    &:before {
      content: "";
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: $blue;
      transform: scaleY(0);
      transform-origin: 50% 100%;
      transition-property: transform;
      transition-duration: 0.3s;
      transition-timing-function: ease-out;
    }
    &:active:before,
    &.active:before {
      transform: scaleY(1);
    }
    &:hover,
    &:active {
      box-shadow: 0px -4px 0px $blue inset;
    }
  }
}
@media (min-width: 710px) {
  .NavigationItem {
    margin: 0;
    display: flex;
    height: 100%;
    width: auto;
    align-items: center;
    & a {
      height: 100%;
      padding: 16px 10px;
    }
  }
}
