@import "../../../variables.scss";
.Button {
  background-color: transparent;
  color: $beige;
  outline: none;
  cursor: pointer;
  font: inherit;
  padding: 10px;
  margin: 10px;
  font-weight: bold;
  text-align: center;
  position: relative;
  &:not(:disabled):active {
    bottom: -5px;
  }
}
.Button:disabled {
  color: $gray;
  cursor: not-allowed;
  border: 2px solid $gray;
}
.Success {
  color: $blue;
  border: 2px solid $blue;
  &:not(:disabled):hover {
    background-color: $blue;
    color: $white;
  }
}
.Danger {
  color: $red;
  border: 2px solid $red;
  &:not(:disabled):hover {
    background-color: $red;
    color: $white;
  }
}
.Page {
  color: $yellow;
  border: 2px solid $yellow;
  display: flex;
  align-items: center;
  padding: 5px;
  &:not(:disabled):hover {
    background-color: $yellow;
    color: $black;
  }
}
