@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;700&display=swap");
@import "./variables.scss";
body {
  margin: 0;
  font-family: "Oswald", sans-serif;
  overflow-y: scroll;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
textarea {
  resize: none;
}
